body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960 px;
    font-size: 18 px;
}

header, nav, aside, footer{
    background: #ebebeb;
    margin-left: 7%;
    margin-right: 7%;
}

article{
    color: #ebebeb;
}

h1, p{
    color:#777;
    background: #ebebeb;
}

aside{
    width: ;
}
section{
    margin-left: 7%;
    background: #ebebeb;
    float: left;
    width: 495px;
}

#Menu_Links{
    font-size: 18px;
}

#Menu_Links a{
    color: rgb(196, 5, 5);
}
header, nav{
    text-align: center;
}