body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

section, .section, .side, .footer{
    background: #ebebeb;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

.article{
    padding-top: 5px;
    color: #ebebeb;
    background: #777;
    height: 230px;

}

.article p{
    color:#ebebeb;
}

p{
    color:#777;
}

.section{
    width: 495px;
}

.p_tag p{
    color:#777;
}

.p_tag{
    color: #777;
    background: #ebebeb;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;;
    padding-top: 2px;
    padding-bottom: 2px;
}

.h_tags{
    color: #777;
    background: #ebebeb;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.section{
    float: left;
}

.aside{
    position: relative;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    float: right;
    width: 420px;
    border: solid;
    background-color: #ebebeb;
    height: 320px;
    padding-top: 2px;
}

.aside p{
    padding-top: 2px;
}
.footer{
    clear: both;
}